.navbar {
  background-color: #BA2D0B;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 32px 8px 0 0 rgba(96, 50, 4, 0.37);
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
}

.navicons {
  width: 15vw;
  max-width: 95px; /* Set a maximum width to ensure the icons don't become too large */
  height: auto; /* Set the height to 'auto' to maintain the aspect ratio of the original image */
  justify-content: space-between;
  margin: 4px 8vw;
}

.logobar {
  display: flex;
  background-color: #01110acc;
  font-family: 'PT Sans Narrow';
  width: 100%;
  height: 90px;
  font-size: 20px;
  color: #D5F2E3;
  letter-spacing: 0.1cm;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(3, 73, 17, 0.37);
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  /* box-shadow: ; */
}

.forms {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #e0e0e0;
  margin: 10vh 5vw;
  height: 500px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.527);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.imageForm {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #e0e0e0;
  margin: 50px 20px 30px 20px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.719);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 25px;
  font-family: 'PT Sans Narrow';

}

input {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #c05a06;
  border: none;
  color: white;
  font-size: 20px;
}

.plantCard {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 20px 20px;
  line-break:loose;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: rgba( 108, 133, 120, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.plantListCard {
  display: flex;
  flex-direction: column;
}

.idPlantCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard {
  display: flex;
  width: 250px;
  background: rgba( 108, 133, 120, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: 5vw;

}

.gardenTitle {
  color: rgb(248, 225, 225);
  font-size: 25px;
  border-radius: 10px;
  margin: 20px 30px;
  background: rgba(44, 49, 47, 0.644);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  width: 150px;
}

.idInfo{
  display: flex;
  color: rgb(255 236 232);
  border-radius: 10px;
  margin: 0px 30px 10px 30px;
  background: rgba(44, 48, 46, 0.726);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.idInfo p {
  width: 300px;
  margin-left: 0px;
  align-self: center;

}

.gardenText {
  margin-left: 18px;
}

.gardenPlant button.saveButton{
  display: none;

}

.idPlantCard .waterButton {
  display: none;
}

.userCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.waterLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 30px;
  margin-left: 80px;
  text-shadow: none;
}

.waterButton {
  opacity: 0;
  width: 0;
  height: 0;
}

span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  transition: 0.3s;
  border-radius: 30px;

}

span:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.waterButton:checked + span {
  background-color: #BA2D0B;


}

.waterButton:checked + span:before {
  transform: translateX(29px);

}

strong {
  position: absolute;
  left: 100%;
  width: max-content;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.gardenImg {
  margin-left: -90px;
  left: -10px;
  width: 40vw;
  height: 190px;
  margin-right: -30px;
}