.navbar {
  background-color: #BA2D0B;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 32px 8px 0 0 rgba(96, 50, 4, 0.37);
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
}

.navicons {
  width: 15vw; 
  max-width: 95px; /* Set a maximum width to ensure the icons don't become too large */
  height: auto; /* Set the height to 'auto' to maintain the aspect ratio of the original image */
  justify-content: space-between;
  margin: 4px 8vw;
}

.logobar {
  display: flex;
  background-color: #003e1fcc;
  font-family: 'PT Sans Narrow';
  width: 100%;
  height: 90px;
  font-size: 20px;
  color: #D5F2E3;
  letter-spacing: 0.1cm;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(3, 73, 17, 0.37);
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  /* box-shadow: ; */
}

.forms {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
  margin: 10vh 5vw;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.imageForm {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
  margin: 50px 20px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 25px;
  font-family: 'PT Sans Narrow';

}

input {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: #fe7b0f69;
  border: none;
  color: white;
  font-size: 20px;
}

.plantIDCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px 20px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: rgba( 108, 133, 120, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.plantListCard {
  display: flex;
  flex-direction: column;
}

.idPlantCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard {
  display: flex;
  width: 250px;
  background: rgba( 108, 133, 120, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  flex-direction: row;
  justify-content: end;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: 5vw;

}

.gardenPlant button {
  display: none;

}

.userCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

